.borderedButton {
  position: relative;
  overflow: hidden;

  padding: 8px 20px;
  font-size: 14px;
  border-radius: 8px;
  width: calc(80% - 48px);
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: 500;
  background-color: #3775bb;
  margin: var(--margin);
  padding: 12px 0px;
  transition: 0.2s;
}

.borderedButton:hover {
  background-color: #7698bf;
  margin: var(--margin);
}

.borderedButton:active {
  background-color: #5a7595;
}

.borderedButton > span {
  position: relative;
  z-index: 999;
}

.borderedButton:active .floatani {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 9999px;
  background-color: transparent;
  animation-duration: 2s;
  animation-name: scaled;

  top: var(--top);
  left: var(--left);
}
@keyframes scaled {
  0% {
    transform: scale(0.5);
    background-color: #3775bb;
  }
  100% {
    transform: scale(8);
    background-color: #7698bf;
  }
}
